@inherits LayoutComponentBase


<NavMenu></NavMenu>

    

    <div class="container" style="margin-top:100px">
        @Body
    </div>


@*<footer class="border-top footer text-muted fixed-bottom">
    <div class="container mt-4 mb-4">
        &copy; 2019 - Blazor-Top-Menu
    </div>
</footer>*@