@page "/"
    <!DOCTYPE html>
 
    <body>
       
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div style="height:550px" class="carousel-item active">
                    <img  class="d-block w-100" src="/Images/freestocks-_3Q3tsJ01nc-unsplash.jpg" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                        <center>
                            <div class="banner_content">
                                <h1>We sell lifestyle.</h1>
                                <p>Flat 40% OFF on premium brands</p>
                                <NavLink href="showcatalog" class="btn btn-danger
                                    btn-lg active">Shop Now</NavLink>
                            </div>
                        </center>
                        <br />
                    </div>
                </div>
                <div style="height:550px" class="carousel-item">
                    <img class="d-block w-100" src="/Images/latrach-med-jamil-hmkr5yKXres-unsplash.jpg" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h1>Clothing</h1>
                        <h5>Shope the Comfy styles</h5>
                    </div>
                </div>
                <div style="height:550px" class="carousel-item">
                    <img class="d-block w-100" src="/Images/phillip-goldsberry-fZuleEfeA1Q-unsplash.jpg" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h1>Refresh your Space</h1>
                        <h5>Shope the Home store</h5>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        @* is uper jugaar *@
      




        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <a href="products.php#cameras">
                        <div class="thumbnail">
                            <img src="img/1.jpg" alt="">
                            <div class="caption">
                                <h3>Cameras</h3>
                                <p>Choose among the best available in the world.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-4">
                    <a href="products.php#watches">
                        <div class="thumbnail">
                            <img src="img/7.jpg" alt="">
                            <div class="caption">
                                <h3>Watches</h3>
                                <p>Original watches from the best brands.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-4">
                    <a href="products.php#shirts">
                        <div class="thumbnail">
                            <img src="img/8.jpg" alt="">
                            <div class="caption">
                                <h3>Shirts</h3>
                                <p>Our exquisite collection of shirts.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <AuthorizeView Roles="Admin">
            <AddProduct></AddProduct>


        </AuthorizeView>

    </body>
    
