@page "/register"
<div class="container signup">
    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4 form">
            <h1> Register </h1>
            <form>
                <div class="form-group">
                    <input class="form-control" placeholder="Name" type="text" name="name" required="true">

                    <br>

                    <input class="form-control" placeholder="Email" type="text" name="email">

                    <br>

                    <input class="form-control" placeholder="Password" type="password" name="password">

                    <br>

                    <input class="form-control" placeholder="Contact" type="text" name="phone" required="true">

                    <br>

                    <input class="form-control" placeholder="City" type="text" name="city" required="true">

                    <br>
                    <input class="form-control" placeholder="Address" type="text" name="address" required="true">

                    <br>

                    <button class="btn btn-primary" type="submit">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>









@code {

}
