@page "/"

<div class="card-group">
@foreach (var product in Catalog.Products)
{
    <ProductItem Product="@product"
                SelectedProduct="@(async(p)=>AddtoCart(p))"></ProductItem>
}
 </div>

@code
{
    public Cart Cart { get; set; } = new Cart();

    private void AddtoCart(Product product)
    {
        Console.WriteLine($"Product added: {@product.Name}");
    }
    private Catalog Catalog { get; set; } = new Catalog
    {
        Products = new List<Product>
        {
            new Product(1,"Table",8000,Category.Furniture),
            new Product(1,"Jeans",2000,Category.Cloth),
            new Product(1,"FootBall",1000,Category.Sport)
        }
    };
}