@page "/"
<h1>Products</h1>
<div class="card-group">
    @foreach (var product in Catalog.Products)
    {
        <ProductItem Product="@product"
                     SelectedProduct="@(async(p)=>AddtoCart(p))"
                     ButtonClass="btn btn-primary" ButtonTitle="Add">

        </ProductItem>
    }
</div>

<ShoppingCart Cart="@Cart" Title="Your Cart" GetProductFromId="@Catalog.GetProduct">

</ShoppingCart>


@code
{
    public Cart Cart { get; set; } = new Cart();

    private void AddtoCart(Product product)
    {
        Console.WriteLine($"Product added: {@product.Name}");
        Cart.Add(product.Id);
    }
    private Catalog Catalog { get; set; } = new Catalog
    {
        Products = new List<Product>
{
            new Product(1,"Table",8000,Category.Furniture),
            new Product(2,"Jeans",2000,Category.Cloth),
            new Product(3,"FootBall",1000,Category.Sport)
        }
    };
}